.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #777777;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e9724c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: #000000;
  margin-bottom: -1rem;
}
@media screen and (max-width: 3000px) {
  .big-screen {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
