.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #777777;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e9724c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: #000000;
  margin-bottom: -1rem;
}

.specialHover:hover {
  color: white;
  background-color: #e9724c;
  /* background-color: red; */
}

.specialHover:hover h3 {
  color: white;
}

.specialHover:hover p {
  color: white;
}

.specialHover:hover svg {
  color: white;
}

.specialHover:hover path {
  stroke: white;
}

.specialHover:hover .priceTag {
  color: white;
}

.specialHover:hover .carrilBtn {
  background-color: white;
  color: #e9724c;
}

.specialHover:hover .billingFlag {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.specialHover:hover .billingToggle {
  background-color: white;
}

.specialHover:hover .featureBtn {
  background-color: #b4583b;
}

.rectCardHover:hover span {
  color: white;
}

.rectCardHover:hover svg {
  color: white;
}

.rectCardHover:hover path {
  color: white;
}

.webkitClass {
  text-align: -webkit-center;
}

@media screen and (max-width: 3000px) {
  .big-screen {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.demo-wrapper {
  display: flex;
  gap: 0.5rem;
}

.editor-wrapper {
  display: flex;
  gap: 0.5rem;
}
